body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0;

  background-color: rgb(33, 172, 215);
}


.App {
  width: 75vw;
  height: 60vh;
  
  margin-top: 15vh;
  padding: 30px;
  
  border: 5px solid white;
  border-radius: 30px;
  
  background-color: rgb(15, 72, 99);
  color: rgb(101, 196, 224);
}

.search {
  display: flex;
  justify-content: center;
}

input {
  margin-right: 5px;
  font-size: 24px;
}

.define {
  font-size: 30px;

  border: 2px solid white;
  border-radius: 10px;
  
  background-color: rgb(15, 72, 99);
  color: rgb(101, 196, 224);
}

.display {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-size: 48px;
}

.part-of-speech {
  font-style: italic;
}

p {
  font-size: 28px;
}
